.content2 {
	display: flex;
	text-align: center;
	width: 85%;
	margin: 0 auto;
	padding: 10rem 0;
	h2 {
		font-size: 3rem;
		color: $purple;
	}
	p {
		line-height: 3.4rem;
		font-size: 1.5rem;
		width: 80%;
		margin: 0 auto;
		font-family: $bodyFont;
	}
	@media(max-width: 768px) {
		margin-top: 8rem;
	}
	@media (max-width: 600px){
		flex-direction: column;
		margin-top: 13rem;
	}

	@media (max-width: 452px) {
		margin-top: 21rem;
	}
}

.blogContent {
	margin-top: 5rem;
	text-align: left;
	width: 90%;
	h3 {
		padding: 2rem 0;
	}
	.entry-content {
		display: flex;
		align-items: center;
		img {
			width: 30%;
			@media (max-width: 768px) {
				width: 70%;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
		}
		p {
			margin: 0 5rem;
			width: 60%;
			@media (max-width: 768px) {
				width: 80%;
				margin: 0;
				padding-top: 4rem;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
		}
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;

		}
		@media (max-width: 600px) {
			display: block;
		}
	}
	
	@media (max-width: 786px) {
		margin-top: -7rem;
	}
	@media (max-width: 480px) {
		margin-top: -6rem;
	}
}

article {
	border-bottom: 1px solid black;
	padding-bottom: 4rem;
	h2 {
		margin: 4rem 0 0 0;
		a {
			text-transform: uppercase;
			&:hover {
				color: grey;
				
			}
	}	}
}

// .post {
// 	width: 90%;
// }