.contactContent {
	margin-top: 15rem;
	padding: 3.5rem 0;
	.address {
		display: flex;
		form {
			display: flex;
			flex-direction: column;
			width: 100%;
			h2 {
				text-align: left;
				margin: 0;
			}
			input {
				padding: 1rem 0;
				margin: 1rem 0;
				color: $purple;
				&:focus {
					outline: none;
				}
			}
			textarea {
				padding: 1rem 0;
				margin: 1rem 0;
				font-size: 1.5rem;
				height: 27vh;
				&:focus {
					outline: none;
				}
			}
			input[type=submit] {
				border-style: none;
				text-transform: uppercase;
				font-size: 1.6rem;
			}

			::-webkit-input-placeholder {
  			 color: $purple;
  			 padding-left: 1rem;
  			 font-size: 1.3rem;
			}
		}
		.contactAddress {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: auto;
			color: $purple;
			p {
				font-size: 2.5rem;
				line-height: 6rem;	
				font-weight: bold;
				@media (max-width: 786px) {
					font-size: 2rem;
				}
			}	
		}
		@media (max-width: 480px) {
			flex-direction: column;
		}
	}
}