.hero {
	height: 60vh;
	margin-top: 22rem;
	background-color: #fff;
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		@media (max-width: 786px) {
			flex-direction: column;
		}
		.whiteSquare {
			border: 5px ridge #fff;
			position: relative;
			height: 55vh;
			width: 70vh;
			left: 5%;
			bottom: -19px;
			@media (max-width: 768px) {
				z-index: 299;
				margin: 6 auto;
				left: 0;
				height: 43vh;
			}
			@media (max-width: 480px) {
				height: 55vh;
			}
			@media (max-width: 380px) {
				height: 45vh;
			}
			.logo {
				margin-top: 11rem;
				 h1 {
					font-size: 5rem;
					padding-left: 2rem;
					letter-spacing: .4rem;
					width: 80%;
					@media(max-width: 768px) {
						width: 100%;
						font-size: 8rem;
					}
					@media (max-width: 480px) {
						font-size: 3.5rem;
						width: 100%;
					}
				}
				h2 {
					font-size: 1.8rem;
					width: 80%;
					padding-left: 2rem;
					font-family: $bodyFont;
					@media (max-width: 768px) {
						font-size: 2.5rem;
					}
					@media (max-width: 480px) {
						font-size: 1.2rem;
					}
				}
				@media (max-width: 480px) {
					margin-top: 13rem;
				}
				@media (max-width: 400px){
					margin-top: 8rem;
				}
			}
		}
		.heroImage {
			height: 60vh;
			width: 100vh;
			@media (max-width: 786px) {
				height: 45vh;
				position: absolute;
				top: 67%;
				width: 100%;
			}
			@media (max-width: 480px) {
				position: static;
			}
		}
	}
	@media (max-width: 800px) {
		margin-top: 10rem; 
	}
}

.content {
	text-align: center;
	width: 85%;
	margin: 0 auto;
	padding: 10rem 0;
	@media (max-width: 768px) {
		margin-top: 32rem;	
	}

	h2 {
		font-size: 3rem;
		color: $purple;
	}
	p {
		line-height: 3.4rem;
		font-size: 1.5rem;
		width: 80%;
		margin: 0 auto;
		font-family: $bodyFont;
	}
}


.featuredBlog {
	padding: 10rem 5rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	position: relative;
	@media (max-width: 1120px) {
		align-items: center;
	}
	.blogImage img {
		max-width: 100%;
		height: 45vh;
		// @media (max-width: 786px) {
		// 	height: initial;
		// }
	}
	.blogInfo {
		position: absolute;
		width: 70%;
		height: 40vh;
		top: 12rem;
		right: -2%;
		border: 5px ridge #fff;
		.blogDescription{
			padding: 0 7rem 0 9rem;
			@media (max-width: 768) {
				padding: 0 3rem;
			}
			@media (max-width: 570px) {
				padding: 0 1.5rem;
			}
		}
		h3 {
			font-size: 3rem;
			color: $purple;
		}
		p {
			font-size: 1.4rem;
			line-height: 3rem;
		}
		a {
			float: right;
			font-size: 1.6rem;
		}
		 @media (max-width: 1174px) {
			position: static;
			height: inherit;
		 }
		 @media (max-width: 786px) {
		 	width: 100%;
		 }

	}
	@media (max-width: 786px) {
		flex-direction: column;
   		margin: auto;
    	align-items: center;
	}
	@media (max-width: 480px) {
		padding: 10rem 0;
	}
}

.infoSection {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto 11rem;
	@media (max-width: 768px) {
		width: 50%;
		flex-direction: column;
	}
	.moreInfo {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 2rem 0; 
		width: 28%;
		@media (max-width: 768px) {
			flex-direction: column;
			width: 100%;
			align-items: center;
		}
		h4 {
			font-size: 2rem;
			margin: 0;
			@media (max-width: 786px) {
				font-size: 1.8rem;
			}
		}
		p {
			font-size: 1.6rem;
			@media (max-width: 786px) {
				font-size: 1.6rem;
			}
		}
		button {
			width: 60%;
			margin: 0 auto;
			padding: 1rem;
			border-style: none;
			font-size: 1.3rem;
		}
	}
}

.largeImage {
	background-image: url('images/fashionbackground.jpg');
	background-size: cover;
	background-position: center;
	height: 60vh;
	position: relative;
	display: flex;
	margin-bottom: 4rem;
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; 
		background-color: rgba(51,51,51,0.5);
	}
	@media (max-width: 786px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.emailbox {
	position: relative;
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: center;
	.emailform {
		padding: 7rem;
		background-color: rgba(255, 255, 255, 0.7);
		width: 70%;
		margin: 0 auto;
		@media (max-width: 786px) {
			width: 100%;
		}
		@media (max-width: 380px) {
			padding: 2rem 1rem;
		}
		p {
			font-size: 2.3rem;
			margin: 0;
			padding: 1rem 0;
			color:  #fff;
			text-shadow: 1px 1px 1px grey;
			text-transform: uppercase;
			font-family: $titleFont;
		}
		input[type=email]{
		width: 80%;
		padding: 1.2rem;
		font-size: 1.4rem;
		color: purple;
		&:focus {
			outline: none;
		}
		}
	}
	@media (max-width: 786px) {
		width: 90%;
		margin-bottom: 4rem;
	}
}

.submitButton {
	position: relative;
	display: flex;
	align-items: center;
	.submit {
		border-style: none;
		padding: 2rem;
		font-size: 1.7rem;
		color: $purple;
		text-transform: uppercase;
		@media (max-width: 380px) {
			padding: 1rem;
		}
	}
}