.hero {
	height: 50vh;
	margin-top: 20rem;
	background-color: #fff;
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		.whiteSquare {
			border: 5px ridge #fff;
			position: relative;
			height: 45vh;
			width: 60vh;
			left: 7%;
			bottom: -19px;
			.logo {
				font-size: 2.5rem;
				padding-left: 10px;
			}
			h2 {
				font-size: 2.5rem;
			}
		}
		.heroImage {
			height: 50vh;
			width: 100vh;
		}
	}
}

.content {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 5rem 0;
	h2 {
		font-size: 3rem;
		color: $purple;
	}
	p {
		line-height: 3.4rem;
		font-size: 1.5rem;
	}
}


.featuredBlog {
	padding: 5rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	position: relative;
	.blogImage img {
		max-width: 100%;
		height: 45vh;
	}
	.blogInfo {
		position: absolute;
		width: 70%;
		height: 40vh;
		top: 7rem;
		right: -3%;
		border: 5px ridge #fff;
		.blogDescription{
			padding-left: 7rem;
		}
		h3 {
			font-size: 3rem;
			color: $purple;
		}
		p {
			font-size: 1.6rem;
			line-height: 3rem;
		}
	}
}

.largeImage {
	background-image: url('images/fashionbackground.jpg');
	background-size: cover;
	background-position: center;
	height: 60vh;
	position: relative;	
	display: flex;
	margin-bottom: 4rem;
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; 
		// background-color: rgba(51,51,51, 0.7)
	}
}

.emailbox {
	// background-color: rgba(255,255,255,0.9);
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: center;
	.emailform {
		padding: 3rem;
	input[type=text]{
		width: 100%;
	}
	}

}

input[type=submit] {
	
}