.sidebar {
	text-align: right;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			font-size: 1.4rem;
			a {
				letter-spacing: .2rem;
				&:hover {
					color: #606060;
				}
			}
		}
		#search-2 {
			width: 100%;
		}
		#recent-posts-2 {
			margin-top: 2rem;
		}
	}
}

.blogSidebar {
	margin-top: 6rem;
	position: fixed;
}