.sidebar {
	text-align: right;
	ul {
		margin: 0;
		padding: 0;
		@media (max-width: 600px){
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		li {
			list-style: none;
			font-size: 1.4rem;
			a {
				letter-spacing: .2rem;
				&:hover {
					color: #606060;
				}
			}
		}
		#search-2 {
			width: 100%;
		}
		#recent-posts-2 {
			margin-top: 2rem;
		}
	}
}

.blogSidebar {
	margin-top: 6rem;
	position: fixed;
	right: 5rem;
	@media(max-width: 768px) {
		margin-top: 0;
		// right: 3rem;
	}
	@media(max-width: 600px) {
		position: static;
		margin-top: 4rem;
	}
}