.blogmain {
	.container {
		margin-top: 13rem;
		@media(max-width: 480px){
			margin-top: 5rem;
		}
		@media (max-width: 380px) {
			margin-top: 10rem;
		}
		.content {
			text-align: left;
			display: flex;
			padding-top: 5rem;
			p {
				width: 90%;
				@media (max-width: 480px) {
					width: 100%;
					display: flex;
					justify-content: center;

				}
			}
			.entry-title {
				font-size: 4rem;
				text-align: center;
			}
			.entry-meta {
				font-size: 1.8rem;
				margin: 3rem 0;
				text-align: center;
			}
			@media (max-width: 480px){
				margin-top: 0;
				flex-direction: column;
			}
		}
	}
}

#comment {
	border: 1px solid grey;
}

.sideBar2 {
	margin-top: 7rem;
	@media (max-width: 480px) {
		margin-top: 3rem;
	}
}


// .entry-content {
// 	// display: flex;
// 	// flex-direction: column;
// 	p {
		
// 	}
// }